@import '../../bower_components/more-or-less/less/_export.less';
@import '../../bower_components/more-or-less/less/_export.less';
@import '../../bower_components/more-or-less/less/css3/transform/_transform.less';
@import '../../bower_components/more-or-less/less/css3/_transition.less';
.red {
    background-color: red !important;
    opacity: 0.5;
}

.yh {
    font-family: "Microsoft Yahei", Arial, sans-serif;
}

.vleft {
    vertical-align: top;
    float: left;
}

.vright {
    vertical-align: top;
    float: right;
}

.bg_img_p(@name) {
    background-image: url('../img/@{name}.png?__sprite');
    background-repeat: no-repeat;
    background-position: center;
}

.bg_img_a(@name) {
    background-image: url('../img/@{name}.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.bg_img_j(@name) {
    background-image: url('../img/@{name}.jpg');
}

.bg_png_m(@name) {
    background-image: url('../img/@{name}.png');
}

.tab_color(@c) {
    .tab_list {
        li {
            &.active {
                a {
                    color: @c;
                    border-bottom: 1px solid @c;
                }
            }
        }
    }
}

.btn_group(@c) {
    .btn_group {
        margin-top: .2rem;
        background-color: #efefef;
        padding-left: .15rem;
        padding-right: .15rem;
        padding-top: .2rem;
        ul {
            li {
                float: left;
                margin-left: .16rem;
                margin-bottom: .16rem;
                a {
                    display: block;
                    width: 2.16rem;
                    height: .76rem;
                    font-size: .3rem;
                    color: #333333;
                    background-color: #e1e1e1;
                    text-align: center;
                    line-height: .76rem;
                    border-radius: 5px;
                    .box-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
                }
                &.active {
                    a {
                        background-color: @c;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.ptitle(@c) {
    .ptitle {
        margin-top: .2rem;
        margin-bottom: .2rem;
        p {
            font-size: .28rem;
            color: #333;
            border-left: 4px solid @c;
            padding-left: .2rem;
        }
    }
}

.pcontent(@c) {
    .pcontent {
        padding-top: .2rem;
        padding-bottom: .2rem;
        p.title {
            font-size: .26rem;
            margin-bottom: .2rem;
            color: @c;
        }
        p.content {
            text-indent: 1em;
            font-size: .26rem;
            margin-bottom: .2rem;
            line-height: .36rem;
        }
    }
}

.fold_list(@c) {
    .fold_list {
        margin-bottom: .3rem;
        background-color: #efefef;
        div.title {
            cursor: pointer;
            background-color: fade(@c, 25%);
            height: .64rem;
            padding: 0 .2rem;
            font-size: .26rem;
            line-height: .64rem;
            p {
                width: 6.4rem;
                display: inline-block;
                color: @c;
            }
            img {
                .transform(rotate(0deg));
                .transition(all 300ms);
                display: inline-block;
                width: .28rem;
                height: .15rem;
            }
        }
        div.content {
            display: none;
            padding-bottom: .1rem;
            p.content {
                font-size: .26rem;
                text-indent: 1em;
                margin-top: .2rem;
                margin-bottom: .2rem;
                padding-left: .15rem;
                padding-right: .15rem;
                line-height: .36rem;
            }
            p.title {
                font-size: .26rem;
                color: @c;
                margin-top: .2rem;
                margin-bottom: .2rem;
                padding-left: .15rem;
                padding-right: .15rem;
            }
            .kcb {
                padding: 0 .2rem;
                padding-top: .2rem;
                border-bottom: 1px dotted #dedede;
                .text {
                    width: 6rem;
                    float: left;
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis !important;
                        width: 100%;
                        margin-bottom: .2rem;
                        font-size: .26rem;
                        color: #666666;
                        &:first-child {
                            font-size: .28rem;
                            color: #333333;
                        }
                    }
                }
                .dl {
                    padding-top: .2rem;
                    padding-right: .1rem;
                    float: right;
                    img {
                        width: .46rem;
                        height: .46rem;
                        .vleft;
                    }
                }
            }
            ul.major {
                li {
                    float: left;
                    width: 50%;
                    a {
                        padding-left: .2rem;
                        padding-top: .15rem;
                        padding-bottom: .15rem;
                        display: block;
                        font-size: .28rem;
                        text-decoration: underline !important;
                    }
                }
            }
        }
        &.active {
            div.title {
                img {
                    .transform(rotate(180deg));
                    .transition(all 300ms);
                }
            }
        }
    }
}

.pnotice(@c, @b) {
    .pnotice {
        div.roll {
            overflow: hidden;
            height: .5rem;
            padding-left: .5rem;
            background-color: #efefef;
            position: relative;
            background-repeat: no-repeat;
            background-position: .12rem center;
            background-size: .3rem .3rem;
            border-radius: 5px;
            background-image: url('../img/@{b}.png');
            ul {
                position: absolute;
                li {
                    a {
                        height: .5rem;
                        display: block;
                        text-decoration: underline !important;
                        font-size: .26rem;
                        line-height: .5rem;
                        color: @c;
                    }
                }
            }
        }
        div.item {
            margin-top: .2rem;
            ul {
                li {
                    border-bottom: 1px dotted #dedede;
                    &:first-child {
                        border-top: 1px solid #dedede;
                    }
                    a {
                        padding-top: .15rem;
                        display: block;
                        p {
                            width: 7.2rem;
                            margin-bottom: .15rem;
                            font-size: .24rem;
                            color: #999999;
                            &:first-child {
                                font-size: .28rem;
                                color: #333333;
                            }
                        }
                    }
                }
            }
        }
    }
}

.clear {
    &:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

.detail{
    .detail{
        padding: .3rem .15rem;
        .title{
            p{
                font-size: .3rem;
                color: #333;
                margin-bottom: .1rem;
            }
        }
        .time{
            margin-bottom: .3rem;
            img{
                display: inline;
                margin: 0;
                width: .2rem;
                height: .2rem;
                margin-right: .2rem;
            }
            p{
                font-size: .24rem;
                color: #999;
            }
        }
        img{
            display: block;
            margin: 0 auto;
            width: 5.5rem;
            height: 3rem;
            margin-bottom: .3rem;
        }
        pre{
            line-height: .38rem;
            font-size: .28rem;
            color: #333;
            overflow: hidden;
            word-wrap: break-word;
            margin-bottom: .3rem
        }
        a{
            font-size: .28rem;
            line-height: .38rem;
            color: #333;
        }
    }
}

@basic: #f39c12;
@edu: #2695df;
@training: #37c8c6;
@build: #2c6589;
@job: #00b38a;
@icon_training_notice: icon_training_notice;
@icon_edu_notice: icon_edu_notice;